@model IEnumerable<Labb2Linq.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentFirstName) @Html.DisplayFor(modelItem => item.Student.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.TeacherFirstName) @Html.DisplayFor(modelItem => item.Teacher.TeacherLastName)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
